.cart-body{
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  min-height: 100vh;
  background: url("../../Assets/images/backgrounds/checkout.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.cart-title{
  color: #282c34;
  margin-top: 20px;
}

.checkout-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
}

.checkout-info-click{
  cursor: pointer;
}


.checkout-info{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-top: 10%;

}

.checkout-info-icon{
  /*margin-left: 10px;*/
  position: relative;
  width: 100%;
  height: 30px;
  /*top: 50%;*/
  transform: translateY(-50%);
  font-size: 16px;

}