.login-body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../Assets/images/backgrounds/vegetables_background2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.login-wrapper {
  width: 420px;
  background: transparent !important;
  /*background-color: transparent  !important;*/
  color: white;
  padding: 30px 40px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}


.login-wrapper h1{
  font-size: 36px;
  text-align: center;
}
.login-wrapper label
{
  margin: 30px 0 10px 0;
  text-align: left;
}
.login-wrapper .login-input-box{
  position: relative;
  width: 100%;
  height: 50px;

}

.login-input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgb(255, 255, 255, 21);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.login-input-box input::placeholder{
  color: lightgray;

}

.login-input-box .login-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}


.login-error-text{
  color: red;
  font-size: 12px;
  margin-left: 20px;
}

.login-wrapper .login-remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 30px 0 15px 0;
}

.login-remember-forgot label input{
  accent-color: white;
  margin-right: 4px;
}

.login-remember-forgot a{
  color: #fff;
  text-decoration: none;
}

.login-remember-forgot button{
  color: #fff;
  text-decoration: none;
}

.login-remember-forgot a:hover{
  text-decoration: underline;
}


.login-wrapper .login-forgot{
  justify-content: space-between;
  font-size: 14.5px;
  margin: 10px 0 15px 0;
}

.login-forgot label input{
  accent-color: white;
  margin-right: 4px;
}

.login-forgot a{
  color: dodgerblue;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 600;
}

.login-forgot button{
  color: #fff;
  text-decoration: none;
}

.login-forgot a:hover{
  text-decoration: underline;
}



.login-wrapper button{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-top: 35px;
}

.login-wrapper .login-register-link
{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.login-register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login-register-link p a:hover{
  text-decoration: underline;
}



