.card-color{
  background-color: lightgreen;
  height: 500px;
  width: 400px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

.product-card-color{
  background-color: lightgreen;
  height: 500px;
  width: 400px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

.card-color:hover{
  cursor: pointer;
}
.card-image{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

.padding-card{
  padding: 20px;
}

.card-title{
  font-size: 30px;
}


.card-sub-title{
  font-size: 30px;
}

.card-description{
  font-size: 20px;
  font-weight: bold;
  color: seagreen;
}